<meta charset="utf-8">
<meta http-equiv="X-UA-Compatbile" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{meta_description}}" />
<meta name="HandheldFriendly" content="True" />
<title>{{meta_title}}</title>