.dodo-Header {
  position: fixed;
  width: 100%;
  background-color: #262626;
}

@media screen and (min-width: 769px) {
  .dodo-Header {
    border-bottom: 1px solid #DC7808;
  }
}

.dodo-Navigation {
  position: relative;
}

.dodo-Navigation-title {
  color: #e6e6e6;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #DC7808;
  font-size: 1.3em;
}

.dodo-Navigation-titleLink {
  color: #e6e6e6;
  text-decoration: none;
}

.dodo-Navigation-trigger {
  position: absolute;
  right: 16px;
  top: 12px;
  height: 32px;
  width: 32px;
}

.dodo-Navigation-triggerBar {
  border: 1px solid #e6e6e6;
  margin: 6px 0;
  transition: background-color 0s linear 0s;
}

.dodo-Navigation-linkList {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: none;
}

.dodo-Navigation-linkList--visible {
  display: block;
}

.dodo-Navigation-linkItem {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.dodo-Navigation-linkItem:last-child {
  border-bottom: 1px solid #DC7808;
}

.dodo-Navigation-link {
  color: #e6e6e6;
  display: block;
  padding: 16px;
}

.dodo-Navigation-link:hover, .dodo-Navigation-link:focus {
  color: #FF9600;
}

@media screen and (min-width: 769px) {
  .dodo-Navigation {
    width: 768px;
    margin: 0 auto;
  }
  .dodo-Navigation-title {
    display: inline-block;
    text-align: left;
    border: none;
    font-size: 1em;
  }
  .dodo-Navigation-trigger {
    display: none;
  }
  .dodo-Navigation-linkList {
    display: block;
    float: right;
  }
  .dodo-Navigation-linkItem {
    border: none;
    text-align: left;
    float: left;
  }
  .dodo-Navigation-linkItem:last-child {
    border-bottom: none;
  }
}

/*@media screen and (min-width: 1551px)
{
  .dodo-Navigation
  {
    width: 1280px;
    margin: 0 auto;
  }
}*/
.dodo-Content {
  padding: 80px 0 0;
  margin: 0 auto;
}

.dodo-Content-inner {
  background: rgba(38, 38, 38, 0.75);
  padding: 16px;
}

@media screen and (min-width: 769px) {
  .dodo-Content {
    width: 768px;
  }
}

.dodo-Post {
  padding: 16px;
  margin: 0 auto 25px;
  background-color: #e6e6e6;
  border-radius: 2px;
  /* Following styles only apply to the single post view.*/
}

.dodo-Post-header {
  margin: 0 0 16px;
  padding: 0 0 8px;
  border-bottom: 1px solid #262626;
}

.dodo-Post-heading {
  margin: 0;
  color: #DC7808;
}

.dodo-Post-heading > a {
  color: #DC7808;
}

.dodo-Post-heading > a:hover {
  color: #FF9600;
}

.dodo-Post-cover {
  max-width: calc(100% + 16px);
  width: auto;
  height: auto;
  margin: -8px 0 8px -8px;
  display: block;
}

.dodo-Post-link {
  text-decoration: none;
  color: #262626;
}

.dodo-Post-link:hover, .dodo-Post-link:focus, .dodo-Post-link:active {
  color: #262626;
}

.dodo-Post-content img {
  max-width: 100%;
  margin: 0 auto;
}

.dodo-Post-content pre {
  border: 2px solid #DC7808;
  background-color: #262626;
}

.dodo-Post-footer {
  margin: 16px 0 0;
  padding: 8px 0 0;
  border-top: 1px solid #262626;
}

.dodo-Post-tags {
  margin: 16px 0;
}

.dodo-Post-tag {
  margin: 0 4px 4px;
  display: inline-block;
  color: #e6e6e6;
  background-color: #DC7808;
  border-radius: 5px;
  padding: 4px;
  text-decoration: none;
}

.dodo-Post-tag:hover, .dodo-Post-tag:focus, .dodo-Post-tag:active {
  color: #e6e6e6;
  background-color: #FF9600;
}

.dodo-Post-reference {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dodo-Post-reference--previous {
  float: left;
}

.dodo-Post-reference--next {
  float: right;
}

.dodo-Post--full .dodo-Post-heading {
  margin: 0 0 8px;
}

.dodo-Pagination {
  padding: 8px;
  background-color: #e6e6e6;
  text-align: center;
}

.dodo-Pagination a {
  margin: 0 16px;
}

.dodo-Author {
  padding: 8px;
  margin: 0 auto;
  background-color: #e6e6e6;
  border-radius: 2px;
}

.dodo-Author-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.dodo-Author-metaCollection {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .dodo-Author-header {
    width: 50%;
    float: left;
  }
  .dodo-Author-content {
    width: 50%;
    float: right;
    padding: 0 8px 0 16px;
    box-sizing: border-box;
  }
  .dodo-Author-meta-header {
    margin-top: 0;
  }
}

.dodo-Tag {
  padding: 8px;
  margin: 0 auto;
  background-color: #e6e6e6;
  border-radius: 2px;
}

.dodo-Tag-header {
  position: relative;
}

.dodo-Tag-image {
  width: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  float: left;
}

.dodo-Tag-heading {
  color: #DC7808;
  position: absolute;
  bottom: 0;
  left: 158px;
  margin-bottom: 0;
}

.dodo-Tag-heading--centered {
  text-align: center;
}

.dodo-Tag-content {
  margin-top: 16px;
}

body {
  margin: 0;
  background-color: #262626;
  color: #262626;
  font-family: "Ubuntu", "Calibri", "Helvetica";
  line-height: 1.3;
  font-size: 14px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 0.5s linear 0s;
}

body.isVisible {
  visibility: visible;
  opacity: 1;
}

a {
  color: #DC7808;
}

a:hover, a:focus, a:active {
  color: #FF9600;
}

h1,
h2 {
  margin: 16px 0;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}
